// Button variants
// -------------------------
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons
.button-variant(@color;
                @background;
                @hover-background;
                @active-background;
                @hover-border: @hover-background;
                @active-border: @active-background;
                @hover-color: @color;
                @active-color: @color;
                @disabled-border: @gray-light;
                @disabled-background: @gray-light) {

  color: @color;
  background-color: @background;

  &:hover,
  &:focus,
  &:active,
  &.active,
  .open .dropdown-toggle& {
    color: @hover-color;
    background-color: @hover-background;
    border-color: @hover-border;
  }
  &:active,
  &.active,
  .open .dropdown-toggle& {
    color: @active-color;
    background: @active-background;
    border-color: @active-border;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: @background;
      border-color: @disabled-border;
      color: @disabled-border;
    }
  }

}