<h3 class="margin-bot-0">{{emergency.description}}</h3>
<span class="text-muted text-uppercase text-spaced-small small" am-time-ago="emergency.createdAt"></span>
<p>Reported by <span class="text-muted text-uppercase text-spaced-small small">{{emergency.reporterFirstName}} {{emergency.reporterLastName}}</span> in <span class="text-muted text-uppercase text-spaced-small small">{{emergency.location}}</span></p>
<span ng-if="emergency.policeRequired" class="label label-primary">Police</span>
<span ng-if="emergency.fireRequired" class="label label-danger">Fire</span>
<span ng-if="emergency.amboRequired" class="label label-warning">Ambulance</span>
