<div class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">Emergency Response Service</a>
  </div>

  <div class="navbar-right">
    <p class="navbar-text">Signed in as Mark Otto</p>
    <button type="button" class="btn btn-default navbar-btn" ng-click="logout()">Log out</button>
  </div>

</div>

<div class="container margin-top-70">
  <div class="row">

    <div class="col-lg-6">
      <div class="panel">
        <div ui-view="left" class="panel-body"></div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="panel">
        <div ui-view="right" class="panel-body"></div>
      </div>
    </div>

  </div>
</div>
