<input type="text" class="form-control" placeholder="Search for..." ng-model="query"/>

<div class="row">

  <div class="col-lg-6">
    <button type="button" class="btn btn-default" ng-model="showOpen" data-html="1" bs-options="status.value as status.label for status in statusOptions" bs-select>
      Action <span class="caret"></span>
    </button>
  </div>

  <div class="col-lg-6">
<!--     <button type="button" class="btn btn-default inline-block" ng-model="params.sort" data-html="1" bs-options="orderBy.value as orderBy.label for orderBy in orderByOptions" bs-select>
      Action <span class="caret"></span>
    </button> -->
  </div>

</div>

<ul class="list-group">
  <li class="list-group-item clearfix" ng-repeat="emergency in emergencies | filter:query | filter:{isOpen:showOpen}"  ui-sref-active="active" ui-sref="main.emergencies.view({emergencyId: emergency.id})">


    <div class="pull-right">
      <button type="button" class="btn btn-danger btn-outline btn-circle" ng-click="deleteEmergency(emergency)" ng-disabled="firstEmMergeSelected" data-title="Delete" bs-tooltip>
        <span class="icon-cancel"></span>
      </button>

      <!-- Ed's attempt at providing the merge view -->
      <button type="button" class="btn btn-primary btn-outline btn-circle" ng-click="mergeEmergencyClick(emergency)" data-title="Merge" bs-tooltip>
        <span ng-class="{'icon-doc': isEmergencyMergable(emergency), 'icon-docs': !isEmergencyMergable(emergency)}"></span>
      </button>

      <button type="button" class="btn btn-success btn-outline btn-circle" ng-click="closeEmergency(emergency)" ng-disabled="!emergency.isOpen || firstEmMergeSelected" data-title="Close" bs-tooltip>
        <span class="icon-lock"></span>
      </button>
    </div>

    <h5 class="margin-bot-0">{{emergency.description}}</h5>
    <span class="text-muted text-uppercase text-spaced-small small" am-time-ago="emergency.createdAt"></span>
    <p>{{emergency.location}}</p>
    <span ng-if="emergency.policeRequired" class="label label-primary">Police</span>
    <span ng-if="emergency.fireRequired" class="label label-danger">Fire</span>
    <span ng-if="emergency.amboRequired" class="label label-warning">Ambulance</span>


  </li>
</ul>