<div class="container margin-top-30">
  <div class="row">

    <div class="col-xs-6 col-xs-offset-3">
      <div class="panel">
        <h2 class="text-center">Login</h2>

        <form class="login-form form-group margin-20">

          <div class="form-group">
            <input type="text" class="form-control login-field" placeholder="Username" ng-model="username" required/>
            <span class="icon-mail form-control-feedback" aria-hidden="true"></span>
          </div>

          <div class="form-group">
            <input type="password" class="form-control login-field" placeholder="Password" ng-model="password" required/>
            <span class="icon-lock form-control-feedback" aria-hidden="true"></span>
          </div>

          <a class="auth-btn-complete btn btn-primary btn-lg btn-block" ng-click="login()">Login</a>

        </form>

      </div>
    </div>

  </div>
</div>

