<h1>Report a new emergency</h1>

<form name="emergencyForm" novalidate  ng-submit="emergencyForm.$valid && report(emergency)">

  <div class="form-group">
    First name: <input type="text" class="form-control" placeholder="First name" ng-model="emergency.reporterFirstName" name="reporterFirstName" required />

    <div ng-show="emergencyForm.$submitted">
      <p class="help-block" ng-show="emergencyForm.reporterFirstName.$error.required">Please provide a first name</p>
    </div>
  </div>

  <div class="form-group">
    Last name: <input type="text" class="form-control" placeholder="Last name" ng-model="emergency.reporterLastName" name="reporterLastName" required />

    <div ng-show="emergencyForm.$submitted">
      <p class="help-block" ng-show="emergencyForm.reporterLastName.$error.required">Please provide a last name</p>
    </div>
  </div>

  <div class="form-group">
    Description: <input type="text" class="form-control" placeholder="Description" ng-model="emergency.description" name="description" required />

    <div ng-show="emergencyForm.$submitted">
      <p class="help-block" ng-show="emergencyForm.description.$error.required">Please provide a description of the emergency</p>
    </div>
  </div>

  <div class="form-group">
    Location: <input type="text" class="form-control" placeholder="Location" ng-model="emergency.location" name="location" required />

    <div ng-show="emergencyForm.$submitted">
      <p class="help-block" ng-show="emergencyForm.location.$error.required">Please provide the location of the emergency</p>
    </div>
  </div>

  Fire: <input type="checkbox" ng-model="emergency.fireRequired" ng-init="emergency.fireRequired = false" />
  Police: <input type="checkbox" ng-model="emergency.policeRequired" ng-init="emergency.policeRequired = false" />
  Ambulance: <input type="checkbox" ng-model="emergency.amboRequired" ng-init="emergency.amboRequired = false" /> <br />

  <input class="btn btn-success pull-right" type="submit" value="Report" />
</form>