//
// Buttons
// --------------------------------------------------

// Base styles
// --------------------------------------------------
.btn {
  font-family: @headings-font-family;
  border-radius: 24px;
  border-width: 1px;
  .transition(~"border .15s linear, color .15s linear, background-color .15s linear");


  &:hover,
  &:focus {
    outline: none;
  }

  &:active,
  &.active {
    outline: none !important;
    .box-shadow(none);
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    background-color: @btn-link-disabled-color;
    color: fade(@btn-default-color, 75%);
    .opacity(.7);
  }
}

// Alternate buttons
// --------------------------------------------------
.btn-default {
  .button-variant(@btn-default-color, @btn-default-bg, @btn-hover-bg, @btn-active-bg);
}
.btn-primary {
  .button-variant(@btn-primary-color, @brand-primary, @btn-primary-hover-bg, @btn-primary-active-bg);
}
.btn-info    {
  .button-variant(@btn-info-color, @brand-info, @btn-info-hover-bg, @btn-info-active-bg);
}
.btn-danger  {
  .button-variant(@btn-danger-color, @brand-danger, @btn-danger-hover-bg, @btn-danger-active-bg);
}
.btn-success {
  .button-variant(@btn-success-color, @brand-success, @btn-success-hover-bg, @btn-success-active-bg);
}
.btn-warning {
  .button-variant(@btn-warning-color, @brand-warning, @btn-warning-hover-bg, @btn-warning-active-bg);
}

.btn-default.btn-outline {
  .button-variant(@btn-default-bg, transparent, transparent, transparent, @btn-default-bg, @btn-active-bg, btn-default-bg, @btn-active-bg);
}
.btn-primary.btn-outline {
  .button-variant(@btn-primary-bg, transparent, transparent, transparent, @btn-primary-hover-bg, @btn-primary-active-bg, @btn-primary-hover-bg, @btn-primary-active-bg);
}
.btn-info.btn-outline {
  .button-variant(@btn-info-bg, transparent, transparent, transparent, @btn-info-hover-bg, @btn-info-active-bg, @btn-info-hover-bg, @btn-info-active-bg);
}
.btn-danger.btn-outline {
  .button-variant(@btn-danger-bg, transparent, transparent, transparent, @btn-danger-hover-bg, @btn-danger-active-bg, @btn-danger-hover-bg, @btn-danger-active-bg);
}
.btn-success.btn-outline {
  .button-variant(@btn-success-bg, transparent, transparent, transparent, @btn-success-hover-bg, @btn-success-active-bg, @btn-success-hover-bg, @btn-success-active-bg);
}
.btn-warning.btn-outline {
  .button-variant(@btn-warning-bg, transparent, transparent, transparent, @btn-warning-hover-bg, @btn-warning-active-bg, @btn-warning-hover-bg, @btn-warning-active-bg);
}

.btn-circle {
  padding: @padding-base-vertical;
  border-radius: 50%;
}


// Link buttons
// -------------------------

// Make a button look and behave like a link
.btn-link {
  color: @link-color;

  &:hover,
  &:focus {
    color: @link-hover-color;
    text-decoration: @link-hover-decoration;
    background-color: transparent;
  }
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus {
      color: @btn-link-disabled-color;
      text-decoration: none;
    }
  }
}
