.panel-default {
  .panel-heading {
    color: @text-color;
    background-color: white;
    border: none;
    padding: 15px 20px 0 20px;
  }

  .panel-footer {
    color: @text-color;
    background-color: white;
    border: none;
    padding-top: 0;
  }
}

.panel-body {
  padding: 20px 20px;
}