.text-light {
  .text-emphasis-variant(@gray-lighter);
}

.text-dark {
  .text-emphasis-variant(@text-color);
  a&:hover,
  a&:focus {
    color: lighten(@text-color, 20%);
  }
}

.text-italic {
  font-style: italic;
}

.text-spaced {
  letter-spacing: 1.1px;
}

.text-spaced-small {
  letter-spacing: 0.6px;
}