// @import '../../../bower_components/bootstrap/less/variables.less';

//== Colors
//
//## Gray and brand colors for use across Bootstrap.

@gray-darker:            darken(@gray-dark, 5%);
@gray-dark:              #374249;
@gray-darkish:           lighten(@gray-dark, 15%);
@gray:                   lighten(@gray-dark, 30%);
@gray-lightish:          lighten(@gray-dark, 64%);
@gray-light:             lighten(@gray-dark, 67%);
@gray-lighter:           lighten(@gray-dark, 70%);

@brand-primary:         #60addc;
@brand-success:         #81c868;
@brand-info:            #72b4c6;
@brand-warning:         #f1c40f;
@brand-danger:          #ec7b65;


//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
@body-bg:               @gray-lighter;
//** Global text color on `<body>`.
@text-color:            @gray-dark;

//** Global textual link color.
@link-color:            @brand-primary;
//** Link hover color set via `darken()` function.
@link-hover-color:      lighten(@link-color, 10%);
//** Link hover decoration.
@link-hover-decoration: none;

//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

@font-family-sans-serif:  "Lato", Helvetica, Arial, sans-serif;
@font-family-serif:       Georgia, "Times New Roman", Times, serif;
@font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
@font-family-base:        @font-family-sans-serif;
@font-size-base:            14px;

@headings-font-family:    "Montserrat", "Lato", Helvetica, Arial, sans-serif;

//== Iconography
//
//## Specify custom locations of the include Glyphicons icon font.

@icon-font-path:            "../assets/fonts/";
@icon-font-name:            "entypo";
@icon-font-svg-id:          "entypo";

//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.

@btn-font-weight:                normal;

@btn-default-color:              #333;
@btn-default-bg:                 #fff;
@btn-default-border:             @btn-default-bg;
@btn-hover-bg:                   mix(@gray-light, white, 80%);
@btn-active-bg:                  mix(@gray-light, black, 85%);

@btn-primary-color:              #fff;
@btn-primary-bg:                 @brand-primary;
@btn-primary-border:             @btn-primary-bg;
@btn-primary-hover-bg:           mix(@brand-primary, white, 80%);
@btn-primary-active-bg:          mix(@brand-primary, black, 85%);

@btn-success-color:              #fff;
@btn-success-bg:                 @brand-success;
@btn-success-border:             @btn-success-bg;
@btn-success-hover-bg:           mix(@brand-success, white, 80%);
@btn-success-active-bg:          mix(@brand-success, black, 85%);

@btn-info-color:                 #fff;
@btn-info-bg:                    @brand-info;
@btn-info-border:                @btn-info-bg;
@btn-info-hover-bg:              mix(@brand-info, white, 80%);
@btn-info-active-bg:             mix(@brand-info, black, 85%);

@btn-warning-color:              #fff;
@btn-warning-bg:                 @brand-warning;
@btn-warning-border:             @btn-warning-bg;
@btn-warning-hover-bg:           overlay(@brand-warning, darken(white, 37.5%));
@btn-warning-active-bg:          mix(@brand-warning, black, 85%);

@btn-danger-color:               #fff;
@btn-danger-bg:                  @brand-danger;
@btn-danger-border:              @btn-danger-bg;
@btn-danger-hover-bg:            mix(@brand-danger, white, 80%);
@btn-danger-active-bg:           mix(@brand-danger, black, 85%);

@btn-link-disabled-color:        @gray-light;


//== Components
//
//## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).

@padding-base-vertical:     8px;
@padding-base-horizontal:   25px;

//== Forms
//
//##

@input-line-height-base:    1.467; // ~22px
@input-line-height-small:   1.462; // ~19px
@input-line-height-large:   1.235; // ~21px
@input-line-height-huge:    1.318; // ~29px

//== Panels
//
//##

//** Border color for elements within panels
@panel-inner-border:          @gray-lightish;
@panel-footer-bg:             @gray-lighter;

@panel-default-border:        @gray-lightish;
@panel-default-heading-bg:    @gray-lighter;

//== Type
//
//##

@text-muted:                  @gray;

//== Form states and alerts
//
//## Define colors for form feedback states and, by default, alerts.

// @state-success-text:             @gray-dark;
@state-success-bg:               lighten(@brand-success, 30%);
@state-success-border:           darken(spin(@state-success-bg, -10), 5%);

@state-info-bg:                  lighten(@brand-info, 27%);
@state-info-border:              darken(spin(@state-info-bg, -10), 7%);

@state-warning-bg:               lighten(@brand-warning, 40%);
@state-warning-border:           darken(spin(@state-warning-bg, -10), 5%);

@state-danger-bg:                lighten(@brand-danger, 25%);
@state-danger-border:            darken(spin(@state-danger-bg, -10), 5%);

//== Alerts
//
//## Define alert colors, border radius, and padding.

@alert-padding:               25px;

//== List group
//
//##

//** Text color of active list items
@list-group-active-color:       @text-color;
//** Background color of active list items
@list-group-active-bg:          @gray-lighter;
